/Modul1/OOPTraining1/nbproject/private/
/Modul1/OOPTraining1/build/
/Modul2/OOPTraining2/nbproject/private/
/Modul2/OOPTraining2/build/
/Modul3/OOPTraining3/nbproject/private/
/Modul3/OOPTraining3/build/