/Modul1/OOPTraining1/nbproject/private/
/Modul1/OOPTraining1/build/
/Modul2/OOPTraining2/nbproject/private/
/Modul2/OOPTraining2/build/
/Modul3/OOPTraining3/nbproject/private/
/Modul3/OOPTraining3/build/
/Modul4/OOPTraining4/nbproject/private/
/Modul4/OOPTraining4/build/
/Modul5/OOPTraining5/nbproject/private/
/Modul5/OOPTraining5/build/